body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dashboardMain {
  width: 100%;
  height: 40%;
}

header,
footer {
  background-color: #bbd7ae !important;
}

button {
  background-color: #e64571 !important;
}

.get-started {
  position: absolute !important;
  margin-left: 97px !important;
  margin-top: 100px !important;
}

.loginButton,
.play-button {
  color: white !important;
}

.loginBigButton,
.logoutButton {
  margin-left: auto !important;
  margin-right: 1% !important;
}

.secondary-button {
  background-color: white !important;
  border: 2px solid #e64571 !important;
}

.registrationButton {
  color: #e64571 !important;
}

.logo {
  width: 55px;
  margin-right: 2%;
}

.logo-login,
.logo-register {
  width: 250px;
}

.carousel-img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

span.sr-only,
ol.carousel-indicators {
  display: none;
}

.level-image {
  width: 50%;
  margin: 20px;
  float: right;
  display: inline-block;
}


/* .App {
  text-align: left;
}


div {
  display: inline;
} */

rect.blocklyMainBackground {
  width: 9000px !important;
  height: 900px !important;
  fill: #bbd7ae !important;
}

.blocklyToolboxDiv {
  background-color: #ebcd8f !important;
}

/*pre#generated-xml {*/
/*  display: none;*/
/*}*/

/*textarea#code {*/
/*  display: none;*/
/*}*/

.makeStyles-fillHeight-8 {
  display: inline-block;
}

.level-description,
.app-description {
  text-align: left !important;
}
